= render "frontend/sections/home"
= render "frontend/sections/what_we_do"
= render "frontend/sections/our_way"
= render "frontend/sections/our_way_development"
= render "frontend/sections/selected_projects"

= render "frontend/sections/our_team"
= render "frontend/sections/hire_us"
= render "frontend/sections/contact"
= render "frontend/sections/map"
