h1 HIRE US
- if @data.name
  p
    strong Name:
    == @data.name

- if @data.telephone
  p
    strong Telephone:
    == @data.telephone

- if @data.email
  p
    strong E-mail address:
    == @data.email

- if @data.description
  p
    strong Description:
    == @data.description
