@charset "UTF-8";

@font-face {
  font-family: "fontastic";
  src:url("/fonts/kmpit.eot");
  src:url("/fonts/kmpit.eot?#iefix") format("embedded-opentype"),
    url("/fonts/kmpit.woff") format("woff"),
    url("/fonts/kmpit.ttf") format("truetype"),
    url("/fonts/kmpit.svg#kmpit") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fontastic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fc-"]:before,
[class*=" fc-"]:before {
  font-family: "fontastic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fc-cv:before {
  content: "a";
}
.fc-linkedin:before {
  content: "b";
}
.fc-octocat:before {
  content: "c";
}
.fc-pdf:before {
  content: "d";
}
.fc-kmpit:before {
  content: "e";
}
