#bookmarks
  position: fixed
  top: 50%
  z-index: 100
  margin-top: -1px * 70 / 2 * 3

  #bookmarks-inner

  ul.bookmarks
    list-style: none
    margin-left: 0
    padding: 0
    
    li
      background-color: #333333
      text-align: center
      width: 70px
      height: 70px
      &:hover
        background-color: #3d3d3d
      a
        display: block
        color: #fff
        padding: 15px 0
        img
          height: 40px
      &.red
        background-color: $colorRed
        &:hover
          background-color: #ff2931
      &.hire-us
        font: 700 16px/1 $font
        color: #fff
        text-transform: uppercase
        a
          padding: 19px 0
          
          
          
//