body
  background: #ccc
  font-family: $font
  line-height: 1
  min-width: 1170px
  .row
    max-width: 1170px
    
    
  
  #top_bar
    height: 81px
    border-bottom: 1px solid #e6e6e6
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: #fff
    z-index: 100
    overflow: inherit
    @include transition(height ease-in-out $topBarTransitionDuration)
    @include translateZ(0)
    .row
      height: 100%
    h1
      outline: medium none
      overflow: hidden
      position: absolute
      text-indent: -9999px
    
    #logo
      float: left
      @include transition(margin-top ease-in-out $topBarTransitionDuration)
      @include translateZ(0)
      img
        @include transition(height ease-in-out $topBarTransitionDuration)
        @include translateZ(0)
      
    nav
      float: right
      height: 100%
      ul
        float: left
        height: 100%
        margin: 0
        li
          list-style: none
          float: left
          height: 100%
          a, span
            display: block
            font: bold 14px/20px $font
            color: $textColor
            text-transform: uppercase


    
      #main_menu
        li
          border-bottom: 5px solid #fff
          padding: 21px 0 30px
          @include transition(padding ease-in-out $topBarTransitionDuration)
          @include translateZ(0)
          a
            padding: 10px 15px
          &.selected
            border-bottom: 5px solid $colorRed
  
      #locale
        display: block
        margin-left: 50px
        li
          float: left
          padding: 21px 0
          @include transition(padding ease-in-out $topBarTransitionDuration)
          @include translateZ(0)
          font: 300 14px/20px $font
          position: relative
          a, span
            font-weight: inherit
            padding: 10px 4px
          &.selected
            a
              font-weight: 700
    
  
  #content
    padding: 65px 0 0
    > section
      padding: 60px 0 30px
      background: $sectionWhite
      display: block
      margin: 0
      max-width: 100%
      text-align: center
      > .row,
      > .content > .row
        margin: 0 auto
      &.section-grey,
      &.section-gray
        background: $sectionGrey
        
    .alert-box
      position: fixed
      z-index: 100
      padding: 15px 40px 15px 30px
      font: 18px/24px $font
      &.alert
        background-color: $colorRed
  footer
    position: relative
    z-index: 2
    text-align: center
    margin-bottom: -16px
    #footer_blocks
      background: #333
      padding: 60px 0 50px
      .block
        color: #fff
        a
          color: inherit
          &:hover
            .icon
              color: $colorRed
        .icon
          font-size: 109px
          height: 150px
          display: block
          .fc-kmpit
            font-size: 150px
          .fc-linkedin
            font-size: 83px
        .text
          font: 300 18px/20px $font
        &.offer .icon
          padding-top: 1px
        &.cv .icon
          padding-top: 1
        &.kmpit .icon
          padding-top: 20px
        &.github .icon
          margin-top: -5px
          padding-top: 0px
          font-size: 130px
        &.linkedin .icon
          padding-top: 28px
        
    #copy
      height: 40px
      background: #444
      color: #fff
      font: 300 14px/20px $font
      padding: 10px
  //
  a#hire-us-btn
    position: absolute
    top: 50px
    right: -36px
    height: 40px
    width: 140px
    color: #fff !important
    text-transform: uppercase
    text-align: center
    background: $colorRed
    z-index: 101
    @include border-radius(2px)
    @include transition(top ease-in-out $topBarTransitionDuration)
    &::-moz-focus-inner 
      padding: 0
      border: 0
    &.hidden 
      @include transition(top ease-in-out $topBarTransitionDuration)
      top: -100px