#content
  section 
    position: relative
    z-index: 2
  #home
    height: 720px
    padding: 140px 20px 20px
    overflow: hidden 
    z-index: 1
    &.active
      z-index: 3
    .image-wrapper
      background: image-url('frontend/sections/pattern.png'), image-url('frontend/sections/home/home.jpg') #fff no-repeat center top / auto 720px
      height: 720px
      width: 100%
      position: fixed
      z-index: 0
      top: 65px
      left: 0
    .row
      z-index: 2
      position: relative
    h2
      color: #fff
      font: bold 80px/90px $font
      small
        color: inherit
        font: normal 30px/60px $font
    .applications
      margin: 0 auto
      width: 100%
      .app
        display: inline-block
        width: 126px
        margin: 0 2px
        .icon
          height: 100px
        .name
          font-size: 16px
          text-transform: uppercase
          color: #fff
        &.app-ruby-on-rails
          .icon
            padding-top: 15px
    
  #what_we_do
    z-index: 3
    .blocks
      .block
        .image
          height: 155px
        p
          font: 300 18px/26px $font
        &.block-1 .image
          padding-top: 15px
        &.block-4 .image
          padding-top: 9px
        
  #selected_tools,
  #selected_technologies
    z-index: 3
    padding: 35px 20px
    li
      padding-bottom: 0
      display: inline-block
      
  #our_way
    z-index: 3
    .sprint
      h4
        font-size: 30px
        line-height: 30px
      
    #rules
      .rule
        margin-bottom: 10px
        .no
          font: bold 14px/1 $font
          padding-top: 7px
          height: 25px
          color: #fff
          @include border-radius(13px)
          background: #252525
          float: left
          min-width: 25px
        .text
          font: 300 20px/25px $font
          margin-left: 45px
          text-align: left
        
  #technologies
    z-index: 3
    .blocks
      .block
        ul
          margin: 0
          li
            list-style: none
            font-size: 18px
            line-height: 30px
        .image
          height: 140px

  #our_way_development
    z-index: 3
        
  #selected_projects
    @include background-image(linear-gradient(#fbfbfb, #f1f1f1))
    overflow: hidden
    .project-name
      height: 52px
      position: relative
      .name
        position: absolute
        height: 100%
        width: 100%
        top: 0
        left: 0
        display: none
        opacity: 0
        &.active
          display: block
          opacity: 1
          position: relative
      h3
        color: $headingColor
        font: 300 30px/52px $font
        text-transform: none
        height: 52px
        margin: 0
        
        
    .project-description
      margin-bottom: 50px
      position: relative
      .description
        position: absolute
        height: 100%
        width: 100%
        top: 0
        left: 0
        color: $colorGreyLight
        font: 300 18px/30px $font
        display: none
        opacity: 0
        &.active
          display: block
          opacity: 1
          position: relative
    
    .project-technologies
      position: relative
      .technologies
        position: absolute
        height: 100%
        width: 100%
        top: 0
        left: 0
        display: none
        opacity: 0
        &.active
          display: block
          opacity: 1
          position: relative
      .label
        display: inline-block
        background: $colorGreyDark
        height: 30px
        font: bold 18px/20px $font
        color: #fff
        padding: 7px 15px 3px
        margin: 2px
        @include border-radius(15px)
    #carousel
      position: relative
      .wrapper
        position: relative
        height: 550px
        width: 600px
        margin: 0 auto
      .slide
        .layer
          position: absolute
          width: auto
          max-width: 1170px
          left: -1000
          opacity: 0
        &.mgs
          .layer1
            top: 82px
            z-index: 2
          .layer2
            top: 35px
            z-index: 3
          .layer3
            top: 81px
            z-index: 1
        &.taxi5
          .layer1
            top: 272px
            z-index: 4
          .layer2
            top: 35px
            z-index: 1
          .layer3
            top: 286px
            z-index: 3
          .layer4
            top: 386px
            z-index: 2
        &.mood
          .layer1
            top: 82px
            z-index: 2
          .layer2
            top: 96px
            z-index: 3
          .layer3
            top: 81px
            z-index: 1
        &.flicolo
          .layer1
            top: 102px
            z-index: 1
          .layer2
            top: 64px
            z-index: 3
          .layer3
            top: 23px
            z-index: 5
          .layer4
            top: 64px
            z-index: 3
          .layer5
            top: 383px
            left: -173px
            z-index: 4
        &.active
          .layer
            opacity: 1
          &.mgs
            .layer1
              left: -235px
            .layer2
              left: -9px
            .layer3
              left: 463px
          &.taxi5
            .layer1
              left: -172px
            .layer2
              left: 85px
            .layer3
              left: 544px
            .layer4
              left: 710px
          &.mood
            .layer1
              left: -235px
            .layer2
              left: 49px
            .layer3
              left: 463px
          &.flicolo
            .layer1
              left: -176px
            .layer2
              left: 249px
            .layer3
              left: 390px
            .layer4
              left: 585px
      .arrow
        width: 48px
        height: 48px
        background: image-url('frontend/sections/selected_projects/arrows.png') no-repeat
        top: 230px
        position: absolute
        display: block
        opacity: 0.85
        @include transition(opacity 400ms)
        @include translateZ(0)
        z-index: 10
        &:hover
          opacity: 1
          @include transition(opacity 400ms)
          @include translateZ(0)
        &.prev
          background-position: 0 0
          left: 0
        &.next
          background-position: -48px 0
          right: 0
          
  #blog
    padding: 0
    min-height: 618px
    background: #fff image-url('frontend/sections/blog/blog_bg.jpg') center top no-repeat
    .row
      padding: 80px 0
      .post
        text-align: left
        h3, h4, p
          text-align: left
        h3
          font-size: 38px
          line-height: 45px
          text-transform: none
        h4
          text-transform: uppercase
          font-weight: 700
          font-size: 20px
        .meta
          font: 700 14px/20px $font
          text-transform: uppercase
          span
            color: #a5a5a5
            &.author
              color: #555
          
        
  #facts
    .block
      .number
        font: bold 70px/150px $font
        color: $colorRed
        height: 150px
        vertical-align: baseline
      .name
        font: 300 22px/1 $font
        color: #666
      
  #references
    background: image-url('frontend/sections/references/bg.jpg')
    padding-top: 45px
    padding-bottom: 55px
    .references-wrapper
      position: relative
      .arrow
        position: absolute
        width: 16px
        height: 30px
        background: image-url('frontend/sections/references/arrows.png')no-repeat
        top: 190px
        margin-top: -15px
        cursor: pointer
        &.prev
          left: 0
          background-position: 0 0 
        &.next
          right: 0
          background-position: -16px 0
      .reference
        position: absolute
        width: 100%
        top: 0
        left: 0
        display: none
        visibility: hidden
        .header
          height: 270px
          .thumb
            position: absolute
            top: 0
            left: 0
            opacity: 0
            margin-left: -75px
            @include transition-property(left, opacity)
            @include transition-duration($referencesTransitionDuration)
            @include transition-timing-function(ease-in-out)
            @include translateZ(0)
          .author
            position: absolute
            top: 175px
            right: 0
            margin-right: -150px
            width: 300px
            color: #fff
            opacity: 0
            @include transition-property(right, opacity)
            @include transition-duration($referencesTransitionDuration)
            @include transition-timing-function(ease-in-out)
            @include translateZ(0)
            .name, .position, .company
              color: inherit
              margin: 0
            .name
              text-transform: uppercase
              font: bold 24px/32px $font
            .position
              font: 14px/24px $font
            .company
              font: bold 18px/24px $font
        .text
          font: 30px/1.25 $font
          color: #fff
          .bq, .eq
            width: 28px
            height: 25px
            background: image-url('frontend/sections/references/q.png') 0 0 no-repeat
            display: inline-block
            vertical-align: top
          .bq
            margin: 10px 10px 0
          .eq
            margin: 2px 0 0 10px
        &.active
          position: relative
          display: block
          visibility: visible
        &.animation-start
          display: block
        &.animation-end
          .thumb
            left: 50%
            opacity: 1
            @include transition-property(left, opacity)
            @include transition-duration($referencesTransitionDuration)
            @include transition-timing-function(ease-in-out)
            @include translateZ(0)
          .author
            right: 50%
            opacity: 1
            @include transition-property(right, opacity)
            @include transition-duration($referencesTransitionDuration)
            @include transition-timing-function(ease-in-out)
            @include translateZ(0)
      
  #our_team
    padding: 0
    height: 550px
    overflow: hidden
    z-index: 1
    &.active
      z-index: 2
    .video-wrapper
      width: 100%
      height: 100%
      position: fixed
      z-index: 0
      top: 65px
      left: 0
    video
      min-width: 100%
      min-height: 100%
      display: block
    .content
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      padding: 60px 20px 40px
      background: image-url('frontend/sections/pattern.png') repeat
      z-index: 1
    .buttons
      width: 600px
      margin: 75px auto 0
    .circle-button
      width: 140px
      height: 140px
      background: image-url('frontend/sections/our_team/circle.png') center center / 100% 100%
      position: relative
      display: inline-block
      margin: 0 30px
      cursor: pointer
      .text, .icon
        position: absolute
        top: 50%
        left: 50%
        width: 140px
        height: 140px
        margin: -70px 0 0 -70px
      .icon
        background: center center no-repeat
        display: block
      .text
        display: none
        color: #fff
        font: bold 18px/22px $font
        padding: 48px 10px
      &.github
        .icon
          background-image: image-url('frontend/sections/our_team/icon-github.png')
      &.cv
        .icon
          background-image: image-url('frontend/sections/our_team/icon-cv.png')
      &.hire-us
        .text
          padding: 59px 10px
        .icon
          background-image: image-url('frontend/sections/our_team/icon-hire-us.png')
      &:hover
        .icon
          display: none
        .text
          display: block

  #hire_us
    z-index: 3
    .input
      margin-bottom: 10px
      small
        margin-left: 30%
        background: $colorRed
      label.control-label
        float: left
        font: 20px/30px $font
        margin-top: 15px
        color: #333
        width: 30%
        text-align: left
        abbr
          display: none
      label.radio, label.checkbox
        display: block
        margin: 0 0 5px 30%
        padding-top: 15px
        width: 70%
        text-align: left
        font: 300 20px/30px $font
        input
          margin: 0 30px 0 0
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea
        margin-left: 30%
        width: 70%
        background: #f3f3f3
        height: 60px
        padding: 12px 27px
        font: 300 20px/40px $font
        color: #333
        border: 3px solid #f3f3f3
        @include box-shadow(none)
        &:focus
          border-color: #e2e2e2
      textarea
        height: 120px
        line-height: 26px
      &.error
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea
          border-color: $colorRed
          color: $colorRed
        label.control-label
          color: $colorRed
    .iradio
      display: inline-block
      vertical-align: top
      margin: 0 30px 0 0
      background: image-url('frontend/sections/inputs.png') 0 -60px
      width: 30px
      height: 30px
      &.checked
        background-position: 0 -90px

    .icheck
      display: inline-block
      vertical-align: top
      margin: 0 30px 0 0
      background: image-url('frontend/sections/inputs.png') 0 0px
      width: 30px
      height: 30px
      &.checked
        background-position: 0 -30px
    
    [type="submit"]
      display: inline-block
      height: 70px
      width: 315px
      font: bold 24px/40px $font
      color: #fff
      text-transform: uppercase
      cursor: pointer
      background: $colorRed
      @include border-radius(2px)
      &::-moz-focus-inner 
        padding: 0
        border: 0
        
  #contact
    z-index: 3
    .block
      text-align: left
      img
        max-width: 100px
        float: left
      .details
        margin-left: 130px
        padding-top: 8px
        h5
          font: bold 24px/36px $font
          color: $headingColor
        .position
          font: 300 18px/24px $font
          color: $headingColor
          margin-bottom: 20px
        .telephone,
        .email
          padding-left: 40px
          font: 300 14px/22px $font
          color: $headingColor
          margin-bottom: 15px
        .telephone
          background: image-url('frontend/sections/contact/icon-telephone.png') 7px 50% no-repeat
        .email
          background: image-url('frontend/sections/contact/icon-email.png') 0 50% no-repeat
        .medium
          color: #b9b9b9
          font-size: 24px
          display: inline-block
          margin-right: 15px
          margin-top: 20px
          &:hover
            color: #333333
        
        
  #map
    padding: 0
    .row
      position: relative
      .offices
        position: absolute
        top: 20px
        left: 50px
        background: #fff
        width: 365px
        height: 460px
        z-index: 2
        padding: 30px
      .office
        margin-bottom: 15px
        text-align: left
        h5
          position: relative
          margin-bottom: 20px
          padding-bottom: 15px
          font: bold 18px/24px $font
          color: $colorGreyDark
          text-transform: uppercase
          .border
            display: block
            width: 58px
            height: 5px
            background: $colorRed
            position: absolute
            bottom: 0
            left: 0
        img
          float: left
          max-width: 86px
          @include border-radius(2px)
        .details
          margin-left: 100px
          p
            font: 300 14px/18px $font
            margin-bottom: 15px
            color: $colorGreyDark
            a
              color: $colorGreyLight
          
          
  
  #googlemap
    overflow: hidden
    width: 100%
    height: 500px
    z-index: 1
      
  //
