body
  h2, h3
    text-transform: uppercase
    color: $headingColor
  
  h2
    font: bold 36px/50px $font
  
  h3
    font: bold 24px/36px $font
    a
      color: inherit
    
  h4
    font: 300 30px/50px $font
    color: $headingColor
  h2,h3,h4
    a, a:hover
      color: inherit
  
  p
    font: 300 20px/30px $font
    color: $textColor

  .section-heading
    margin-bottom: 25px
    .border
      position: absolute
      bottom: 0
      left: 50%
      background: $colorRed
      height: 5px
    h2,
    h3
      text-align: center
      padding: 0 0 22px
      position: relative
    h2
      .border
        width: 110px
        margin-left: -55px
    h3
      .border 
        width: 58px
        margin-left: -29px
  
  .section-light-text
    h2, h3, p
      color: #fff
  //