- if @latest_post.present?
  section#blog
    .row
      == section_heading "blog"
      .m-b-60
      .post.column.large-offset-5.large-7
        h4= t("our_last_post", scope: "headings")
        h3== link_to @latest_post.title, @latest_post.link, target: "_blank"
        p.meta
          span= t("written_by", scope: "labels")
          '
          span.author= @latest_post.author
          ' ,
          span.published_at= @latest_post.pubDate.strftime("%d.%m.%Y")
        