section#contact.section-grey.p-b-60
  .row
    == section_heading "contact"
    .blocks.m-t-60
      .block.medium-6.columns
        = image_tag "frontend/sections/contact/krzysztof.png"
        .details
          h5 Krzysztof Marszałek
          p.position Co-founder/CCO
          p.telephone +48 883 957 517
          p.email krzysztof.marszalek@rst-it.com
          a.medium.linkedin href="https://www.linkedin.com/profile/view?id=223961579&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic" target="_blank"
            .fc-linkedin
      .block.medium-6.columns
        = image_tag "frontend/sections/contact/jolanta.png"
        .details
          h5 Jolanta Żukowska
          p.position Key Account Manager – Köln, Germany
          p.telephone +49 151 21 924029
          p.email jolanta.zukowska@rst-it.com