section#facts
  .row.m-b-20
    == section_heading "facts"
    - if facts_collection.present?
      ul class="large-block-grid-#{facts_collection.size}"
        - facts_collection.each do |f|
          li.block
            .number== f[:number]
            .name== f[:name]