section#hire_us
  .row
    == section_heading "hire_us"
    p== t "hire_us", scope: "section_texts"
    = simple_form_for @contact_request, url: contact_requests_path(anchor: "hire_us")  do |f|
      .m-b-35
        = f.input :name
        = f.input :telephone
        = f.input :email
        = f.input :description, as: :text
      button type="submit"
        == t "send", scope: "buttons"
