section#map
  .row
    .offices
      .office.clearfix
        h5
          == t "office1_heading", scope: "offices"
          span.border
        = image_tag "frontend/sections/map/offices/office1.jpg"
        .details
          p
            | Wrocławski Park Technologiczny
            br
            | Budynek Gamma
            br
            | Muchoborska 18
            br
            | 54-427 Wroclaw
     
  #googlemap
