section#our_way_development.section-grey    
  .row
    == section_heading "our_way_development"
    p== t "our_way_development", scope: "section_texts"
    .m-t-80.m-b-80= image_tag "frontend/sections/our_way/development.jpg"
