section#our_team.section-light-text.show-for-medium-up
  .video-wrapper
    video autoplay="" loop="" poster="/videos/our-team.jpg"
      source src="/videos/our-team.webm" type="video/webm"
      source src="/videos/our-team.ogv" type="video/ogg"
      source src="/videos/our-team.mp4" type="video/mp4"
    
  .content
    .row
      == section_heading "our_team"
      p== t "our_team", scope: "section_texts"
      .buttons
        a.circle-button.github href="https://github.com/RSTgroup" target="_blank"
          .icon
          .text== t "github", scope: "our_team.buttons"
        a.circle-button.cv href="/files/rst_our_cv.pdf" target="_blank"
          .icon
          .text== t "cv", scope: "our_team.buttons"
        a.circle-button.hire-us.to-section href="#hire_us"
          .icon
          .text== t "hire_us", scope: "our_team.buttons"