section#our_way
  .row
    == section_heading "our_way"
    p== t "our_way", scope: "section_texts"
    .sprint.p-v-70
      = image_tag "frontend/sections/our_way/sprint.png"
      h3.m-t-50== t "sprint", scope: "headings"
    == section_heading "our_rules"
    #rules.p-v-30
      .columns.large-6
        - (1..2).each do |r|
          .rule
            .no= r
            .text= t "rule#{r}", scope: "our_rules"
      .columns.large-6
        - (3..3).each do |r|
          .rule
            .no= r
            .text= t "rule#{r}", scope: "our_rules"
