- if references_collection.present?
  section#references
    .row
      .references-wrapper.hide-for-small-only
        - references_collection.each_with_index do |r,i|
          .reference class="#{'active animation-end' if i==0}"
            .header
              img.thumb src=r[:img_url]
              .author
                p.name== r[:name]
                p.position== r[:position]
                p.company== r[:company]
            .text
              .bq
              == r[:text]
              .eq
        .prev.arrow
        .next.arrow