- if projects_technologies_collection.present? 
  section#selected_projects.section-grey
    .row
      == section_heading "selected_projects"
      .project-name
        - projects_technologies_collection.each_with_index do |project,i|
          .name class="#{project[:name]} #{'active' if i==0}"
            - unless project[:name] == "mood"
              h3
                = t(project[:name], scope: "portfolio.names")
            - else
              = image_tag "frontend/sections/selected_projects/mood/mood-logo.png"
      #carousel
        .wrapper
          - projects_technologies_collection.each_with_index do |project,i|
            .slide class="#{project[:name]} #{'active' if i==0}"
              - project[:layers].times do |l|
                = image_tag "frontend/sections/selected_projects/#{project[:name]}/layer#{l+1}.png", class: "layer layer#{l+1}"
        a.prev.arrow
        a.next.arrow
      .project-description
        - projects_technologies_collection.each_with_index do |project,i|
          .description class="#{project[:name]} #{'active' if i==0}"
            == t project[:name], scope: "portfolio.descriptions"
      .project-technologies
        - projects_technologies_collection.each_with_index do |project,i|
          .technologies class="#{project[:name]} #{'active' if i==0}"
            - if project[:technologies].present?
              - project[:technologies].each do |tech|
                .label== tech