section#selected_tools.section-grey.show-for-medium-up
  ul.medium-block-grid-5.show-for-medium-only
    li= image_tag "frontend/sections/selected_tools/tool-jira.png"
    li= image_tag "frontend/sections/selected_tools/tool-github.png"
    li= image_tag "frontend/sections/selected_tools/tool-rails.png"
    li= image_tag "frontend/sections/selected_tools/tool-uxpin.png"
    li= image_tag "frontend/sections/selected_tools/tool-adobe.png"
  ul.large-block-grid-7.show-for-large-up
    li= image_tag "frontend/sections/selected_tools/tool-trello.png"
    li= image_tag "frontend/sections/selected_tools/tool-jira.png"
    li= image_tag "frontend/sections/selected_tools/tool-github.png"
    li= image_tag "frontend/sections/selected_tools/tool-rails.png"
    li= image_tag "frontend/sections/selected_tools/tool-uxpin.png"
    li= image_tag "frontend/sections/selected_tools/tool-adobe.png"
    li= image_tag "frontend/sections/selected_tools/tool-mandrill.png"