section#selected_technologies.section-grey.show-for-medium-up
  ul.large-block-grid-6
    li= image_tag "frontend/sections/selected_technologies/rails.png"
    li= image_tag "frontend/sections/selected_technologies/jq.png"
    li= image_tag "frontend/sections/selected_technologies/coffee.png"
    li= image_tag "frontend/sections/selected_technologies/bb.png"
    li= image_tag "frontend/sections/selected_technologies/h&c.png"
    li= image_tag "frontend/sections/selected_technologies/webgl.png"