section#technologies
  .row
    == section_heading "technologies"
    p== t "technologies", scope: "section_texts"
    .blocks.clearfix.p-t-80.p-b-40
      - 4.times do |b|
        .block.large-3.columns class="block-#{b+1}"
          .image
            = image_tag "frontend/sections/technologies/thumb-block#{b+1}.png"
          .section-heading
            h3
              == t "heading", scope: "technologies.block#{b+1}"
              span.border
          ul
            - technologies[b].each do |t|
              li= t