section#what_we_do.p-t-110
  .row.m-b-40
    == section_heading "what_we_do"
    p== t "what_we_do", scope: "section_texts"
  .blocks.row
    - 4.times do |b|
      .block.large-3.columns class="block-#{b+1}"
        .image
          = image_tag "frontend/sections/what_we_do/thumb-block#{b+1}.png"
        .section-heading
          h3
            == t "heading", scope: "what_we_do_blocks.block#{b+1}"
            span.border
        p
          == t "text", scope: "what_we_do_blocks.block#{b+1}"