#bookmark-inner
  ul.bookmarks
    li
      a href="https://github.com/RSTgroup" target="_blank"
        = image_tag "frontend/sections/our_team/icon-github.png"
    li
      a href="/files/rst_our_cv.pdf" target="_blank"
        = image_tag "frontend/sections/our_team/icon-cv.png"
    li.red.hire-us
      a.to-section href="#hire_us" == t("hire_us", scope: "labels")