.row
  h1 RST IT
  a#logo href=root_path
    = image_tag "frontend/rst-logo.png"
  nav
    - if main_menu && main_menu.any?
      ul#main_menu
        - main_menu.each do |e|
          li.n
            a.to-section href="##{e}" = t(e, scope: "main_menu")
            
    ul#locale
      li class="#{'selected' if locale.to_s=='en'}"
        = link_to 'en', root_url(locale: 'en')
      li
        span= "/"
      li class="#{'selected' if locale.to_s=='de'}"
        = link_to 'de', root_url(locale: 'de')
