doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'RST-IT'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'RST IT'}"
    == stylesheet_link_tag "/fonts", :media => "all"
    == stylesheet_link_tag "frontend", :media => "all", "data-turbolinks-track" => true
    / Modernizr is required for Zurb Foundation
    == javascript_include_tag "vendor/modernizr"
    == javascript_include_tag "frontend", "data-turbolinks-track" => true
    == javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDF1Xkip9BFkwz2ykfn1hsOJHOyONgU2Q0&sensor=false"
    == csrf_meta_tags
  body
    header#top_bar.normal.stycky
      == render 'layouts/navigation'
    #bookmarks
      == render 'layouts/bookmarks'
    #content
      == render 'layouts/messages'
      == yield
    footer
      #footer_blocks
        .row
          .block.large-2.columns.offer
            a href="/files/rst_offer.pdf" target="_blank"
              span.icon
                i.fc-pdf
              span.text== t "our_offer", scope: "footer_blocks"
          .block.large-2.columns.cv
            a href="/files/rst_our_cv.pdf" target="_blank"
              span.icon
                i.fc-cv
              span.text== t "sample_cv", scope: "footer_blocks"
          .block.large-4.columns.kmpit
            span.icon
              / i.fc-kmpit
              = image_tag "frontend/rst-logo-white.png"
          .block.large-2.columns.github
            a href="https://github.com/RSTgroup" target="_blank"  
              span.icon
                i.fc-octocat
              span.text== t "github", scope: "footer_blocks"
          .block.large-2.columns.linkedin
            a href="https://www.linkedin.com/company/kmp-group?report%2Esuccess=bvNSFZ6UfMPMO1h2mYYjQ-e1htOo_4zxkhy_sxeT5%2E%2E%2E" target="_blank"
              span.icon
                i.fc-linkedin
              span.text== t "linkedin", scope: "footer_blocks"
      #copy
        | Copyright RST-IT 2014
    javascript:
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-23324597-3', 'kmpit.com');
      ga('send', 'pageview');
    javascript:
      adroll_adv_id = "NLVCAKGLZZAYXB76H3UAJS";
      adroll_pix_id = "LBRW7Q3ODVEXXNV7AMLYF3";
      (function () {
      var oldonload = window.onload;
      window.onload = function(){
         __adroll_loaded=true;
         var scr = document.createElement("script");
         var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
         scr.setAttribute('async', 'true');
         scr.type = "text/javascript";
         scr.src = host + "/j/roundtrip.js";
         ((document.getElementsByTagName('head') || [null])[0] ||
          document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
         if(oldonload){oldonload()}};
      }());
    erb: 
      <!-- Google Code for KMPIT.com -->
      <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
      <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 966460854;
      var google_conversion_label = "EBOECMrFnwgQtovszAM";
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
      <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966460854/?value=1.000000&amp;label=EBOECMrFnwgQtovszAM&amp;guid=ON&amp;script=0"/>
      </div>
      </noscript>

